@font-face {
  font-family: 'font1';
  src: url('src/assets/EpundaSlab-VariableFont_wght.ttf'),
       url('src/assets/EpundaSlab-VariableFont_wght.ttf') format('woff');
  font-weight: normal;

}
@font-face {
  font-family: 'font2';
  src: url('src/assets/DancingScript-VariableFont_wght.ttf'),
       url('src/assets/DancingScript-VariableFont_wght.ttf') format('woff');
  font-weight: normal;

}
@font-face {
  font-family: 'font3';
  src: url('src/assets/InterTight-VariableFont_wght.ttf'),
       url('src/assets/InterTight-VariableFont_wght.ttf') format('woff');
  font-weight: normal;

}


