@font-face {
  font-family: 'font1';
  src: url('/fonts/EpundaSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'font2';
  src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'font3';
  src: url('/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}
